
  <div class="logo">
    <a href="javascript:void(0)" class="">
      <img src="/assets/img/logo.png" alt="logo" class="logo_img">
    </a>
  </div>
  <div class="middle_header">
    <a href="javascript:void(0)">DOWNLOAD</a>
    <a href="javascript:void(0)">BUY HD</a>
  </div>
  <div class="right_header">
    <a href="javascript:void(0)"><i class="fa fa-reply" aria-hidden="true"></i>
      <span class="">undo</span>
    </a>
    <a href="javascript:void(0)"><i class="fa fa-share" aria-hidden="true"></i>
      <span class="">redo</span>
    </a>
    <a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i>
      <span class="">Preview</span>
    </a>
    <a href="javascript:void(0)" (click)="save()"><i class="fa fa-folder-o" aria-hidden="true"></i>
      <span class="">save</span>
    </a>
  </div>
