<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" [routerLink]="''">Securicky</a>
    </div>
  </div>
</nav>

<div class="container-fluid main-container" role="main">
  <h1>Login</h1>

  <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="onSubmit()" novalidate>
    <extended-input [labelText]="'Email (*)'" [dirty]="loginForm.controls.email.dirty" [inputErrors]="loginForm.controls.email.errors" [errorDefs]="{ required: 'email is required' }" [required]="true">
      <input type="text" class="form-control" formControlName="email">
    </extended-input>

    <extended-input [labelText]="'Password (*)'" [dirty]="loginForm.controls.password.dirty" [inputErrors]="loginForm.controls.password.errors" [errorDefs]="{ required: 'password is required' }" [required]="true">
      <input type="password" class="form-control" formControlName="password">
    </extended-input>

    <extended-input [labelText]="'Remember me'" [dirty]="loginForm.controls.remember.dirty" [inputErrors]="loginForm.controls.remember.errors">
      <input type="checkbox" class="form-control" formControlName="remember">
    </extended-input>

    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block btn-lg">
      <i class="fa fa-sign-in"></i>&nbsp;Sign in
    </button>
  </form>
</div>
